<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            <p>lorem ipsum</p>
        {% endblock %}

    </title>
</head>
<body>

<div>
    {% if user.is_authenticated %}
    <div>
        <p style="text-align: right; margin: 20px"><a href="{% url 'logout' %}">Logout</a></p>
    </div>
    {% endif %}
    {% block main %}
    <p>lorem ipsum</p>
    {% endblock %}
</div>
</body>
</html>