{% extends 'base.html' %}

{% block title %}
Projects
{% endblock %}

{% block main %}
<div>
    <h2>Your active Projects</h2>

    <ul>
        {% if projects.count == 0%}
        <p>Hey, you don't have any active Projects.</p>
        {% else %}
        {% for project in projects %}
        <div>
            <li>
                <a href="{% url 'project_task' project.id %}">{{ project }}</a>
                </a>
            </li>
        </div>
        {% endfor %}
        {% endif %}
    </ul>

</div>

<div>
    <br>
    <br>
   <a href="{% url 'create_project' %}">
    <p>Add New Project</p>
   </a>
</div>
{% endblock %}