{% extends 'base.html' %}

{% block title %}
Project Task
{% endblock %}

{% block main %}
<div>
    <h2>Your task for {{project}}</h2>
    {% if tasks.count == 0 %}
    <p>Horray! No task here.</p>
    {% else %}
    <ul>
        {% for task in tasks %}
        <div>
            <li>
                <span>
                    <a href="{% url 'update_task' project.id task.id %}">{{task}}</a>
                    &emsp;
                    {{task.status}}
                </span>
            </li>
        </div>
        {% endfor %}
    </ul>
    {% endif %}

</div>

<div>
    <br>
    <br>
    <a href="{% url 'create_task' project.id %}">
        Add New Task
    </a>
    &emsp;
    <a href="{% url 'projects' %}">Back to active Projects</a>
    &emsp;
    <a href="{% url 'delete_project' project.id %}">Delete this Project</a>
</div>
{% endblock %}